[Desktop Entry]
Name=Enemy Territory
Type=Application
Terminal=false
Comment=Return to Castle Wolfenstein: Enemy Territory - standalone multi-player game based on Return to Castle Wolfenstein
Comment[pl]=Return to Castle Wolfenstein: Enemy Territory - samodzielna gra dla wielu graczy oparta na Return to Castle Wolfenstein
Exec=et
Icon=et
Categories=Game;X-FPPGame;
# vi: encoding=utf-8
